.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

:root {
  --bg-color: #fff;
  --text-color: #333;
  --header-bg-color: #eee;
}

body.dark-theme {
  --bg-color:  #333;
  --text-color:  #ddd;
  --header-bg-color:  #222;
}

body {
  background-color: var(--bg-color)!important;
  color: var(--text-color)!important;
}

.header {
  background-color: var(--header-bg-color) !important;
}